*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.insta{
    
    text-align: center;
}

@media (max-width: 575px) {
    .insta{
        margin-top: 120px;
        margin-left: 70px;
        color: #fff;
    }
    .form-control{
        padding-top: 20px;
        padding-left: 70px;
        font-size: 13px;
        margin-top: 15px;
    }
    .mb-3{
        margin-top: 240px;
        margin-left: -30px;
    }
    .ili{
        text-align: center;
        margin-left: 35px;
        color: #fff;
    }
    .div1{
        margin-left: 30px;
        width: 100%;
        height: 1px;
        border: 1px solid #b4b4b4;
        margin-top: 15px;
    }
    .btn{
        margin-top: 20px;
        width: 290px;
        margin-left: -30px;
    }
    .pi{
        color: blue;
    }
    .hed{
        text-decoration: none;
    }
    .akkin{
        font-size: 13px;
        color: #fff;
        text-align: center;
    }
    .akkin span{
        color: blue;
    }
    
}